#header {
    background : url(../imgs/freeHeader.jpg);
}

#header > span {
    display : inline-block;
    width : 70%;
}

#header > span > a {
    float : right;
    display : inline-block;
    padding : 5px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4f0ff), color-stop(1, #95b1de) );
    background:-moz-linear-gradient( center top, #d4f0ff 5%, #95b1de 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4f0ff', endColorstr='#95b1de');
    background-color:#d4f0ff;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    color:#5969a8;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:29px;
    line-height:29px;
    width:65px;
    text-decoration:none;
    text-align:center;
}

#header > span > a:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #95b1de), color-stop(1, #d4f0ff) );
    background:-moz-linear-gradient( center top, #95b1de 5%, #d4f0ff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#95b1de', endColorstr='#d4f0ff');
    background-color:#95b1de;
}

#header > span > a:active {
    position:relative;
    top:1px;
}

#header div.navi {


    background : #66b2ff;
}

#header div.navi > a {
    display : inline-block;
    width : 10%;
    padding : 5px;

    color : white;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
}

#header div.navi > a:hover {
    color : #004c99;
    background : white;
}


