#header {
    background : url(../imgs/freeHeader.jpg);
}

#header > span {
    display : inline-block;
    width : 70%;
}

#header > span > a {
    float : right;
    display : inline-block;
    padding : 5px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4f0ff), color-stop(1, #95b1de) );
    background:-moz-linear-gradient( center top, #d4f0ff 5%, #95b1de 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4f0ff', endColorstr='#95b1de');
    background-color:#d4f0ff;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    color:#5969a8;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:29px;
    line-height:29px;
    width:65px;
    text-decoration:none;
    text-align:center;
}

#header > span > a:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #95b1de), color-stop(1, #d4f0ff) );
    background:-moz-linear-gradient( center top, #95b1de 5%, #d4f0ff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#95b1de', endColorstr='#d4f0ff');
    background-color:#95b1de;
}

#header > span > a:active {
    position:relative;
    top:1px;
}

#header div.navi {


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
    background: #b8e1fc; /* Old browsers */
    background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(25%,#90bae4), color-stop(37%,#90bcea), color-stop(50%,#90bff0), color-stop(51%,#6ba8e5), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */
}

#header div.navi > a {
    display : inline-block;
    width : 10%;
    padding : 5px;

    color : white;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
}

#header div.navi > a:hover {
    color : black;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#leftMenu {
    display : inline-block;
    width : 25%;

    vertical-align : top;
}

#content {
    display : inline-block;
    width : 70%;

    vertical-align : top;
}

#content > div {
    display : inline-block;
    width : 30%;
}

#content > div span {
    display : block;
}

#content > div img {
    display : inline-block;
    width : 100%;
}

#content > div label {
    display : inline-block;
    width : 45%;
}

#content > div select {
    display : inline-block;
    width : 45%;
}

#content > div a {
    display : inline-block;
    margin-top : 5px;
    margin-left : 20%;
    width : 60%;

    text-align : center;
}
