
#leftMenu {
    display : inline-block;
    width : 20%;

    margin-left : 20px;
    vertical-align : top;
}

#leftMenu h2 {
    padding : 5px 0px 5px 0px;
    color : #444444;
    border-bottom : 1px solid #0059b3;
    font-size : 24px;
}

#leftMenu h2 label {
    display : inline-block;
    padding-left : 5px;
    font-size : 14px;
}

#leftMenu ul {
    padding : 0px;
    margin : 0px;
}

#leftMenu li {
    display : block;

    list-style : none;
}

#leftMenu li a {
    display : block;
    padding : 10px 15px 10px 36px;

    color : #808080;
    font-weight : 600;
    text-decoration : none;
}

#leftMenu li:hover {
    background : #b3e6ff;
}

#leftMenu li:hover a {
    padding : 10px 15px 10px 38px;
}

#leftMenu li:nth-child(4n) a {
    background : url(../imgs/1456578223__Windows.png) no-repeat;
    background-position : 10px 50%;
    border-left : 5px solid #33bbff;
}

#leftMenu li:nth-child(4n+1) a {
    background : url(../imgs/1456578198_electronics-08.png) no-repeat;
    background-position : 10px 50%;
    border-left : 5px solid #0099e6;
}

#leftMenu li:nth-child(4n+2) a {
    background : url(../imgs/1456578248__BBM.png) no-repeat;
    background-position : 10px 50%;
    border-left : 5px solid #006699;
}

#leftMenu li:nth-child(4n+3) a {
    background : url(../imgs/1456578193_computer-search.png) no-repeat;
    background-position : 10px 50%;
    border-left : 5px solid #004466;
}

#leftMenu li a.choosed {
    padding : 10px 15px 10px 38px;
    color : #006699;
}

#leftMenu a.cartCheck {
    display : block;
    margin-top : 15px;
    padding : 10px 20px 10px 0px;

    text-decoration : none;
    background : #002733;
    color : white;
    border : 1px solid #002733;
    font-weight : bold;
}

#leftMenu a.cartCheck:hover {
    background : #002733;
    color : #002733;
    background : white;
}

#leftMenu a.cartCheck span {
    /* 不要了 */
    display : inline-block;
    margin-right : 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent transparent;
}
