#content {
    display : inline-block;
    width : 70%;
}

#content div.infoBox {
    display : inline-block;
    margin : 15px;
    width : 45%;
}

#content h2.title {
    padding : 5px 0px 5px 15px;
    margin-left : 25%;
    width : 40%;
    border-left : 5px solid #0059b3;
}

#content form.general {
    margin-left: 25%;
}

#content form.general label {
    display : inline-block;
    padding : 5px 20px 5px 20px;
    margin : 10px 5px 10px 0%;

    color : #004080;
    background : #cce6ff;
    opacity : .8;
}

#content form.general input {
    padding : 5px;

    color : #dddddd;
    background : #004d99;
    border : solid 1px transparent;
    box-shadow : 0px 1px 3px 0px white;
}

#content form.general button,#content form.general a {
    position : relative;
    display : inline-block;
    padding : 5px 20px 5px 20px;
    margin : 10px 50px 10px 0;
    line-height : 20px;

    font-size : 14px;
    text-decoration : none;
    letter-spacing : 3px;
    font-weight : bold;
    color : #ffffff;
    background : #80bfff;
    border : solid 0px transparent;
    box-shadow : 3px 3px 5px 0px #0059b3;
}

#content form.general button:hover, #content form.general a:hover {
    top : 3px;
    left : 3px;
    box-shadow : 0px 0px 0px 0px transparent;
}

#content form.general button:active, #content form.general a:active {
    background : #0059b3;
}

#content .orderTable {
    margin : 15px 0px 0px 20px;
    border-collapse: collapse; 
}

#content .orderTable thead {
    background : #2689BF;
}

#content .orderTable thead td {
    color : white;
}

#content .orderTable td {
    padding : 5px 10px 5px 10px;
}

#content .orderTable tbody a {
    display : inline-block;
    padding : 5px;

    color : white;
    text-decoration : none;
    background : #66b2ff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#content .orderTable tbody tr {
    border-bottom : 1px solid #2689BF;
}

#content .orderTable tbody tr:hover {
    background : #e6faff;
}
