div.remind h2 {
    padding : 5px 5px 5px 10px;

    font-size : 24px;
    background-position : 5px 50%;
    border-left : 10px solid #00394d;
    border-bottom : 3px solid #0086b3;
}

div.remind h3 {
    padding : 5px 5px 5px 20px;
}

div.remind p {
    padding : 0px 20px 0px 20px;
}
