
<script id="leftLoginTem" type="text/template">
    <h2>會員中心 <label>Member Center</label></h2>
    <ul>
        <!--<li><a href="#myData">我的資料</a></li> -->
        <li><a href="#myOrders">我的訂單</a></li>
        <li><a href="#logout">登出</a></li>
    </ul>
</script>

<script id="leftNotLoginTem" type="text/template">
    <h2>會員中心 <label>Member Center</label></h2>
    <ul>
        <li><a href="#login">登入</a></li>
        <li><a href="#register">註冊</a></li>
    </ul>
</script>

<script id="loginPageTem" type="text/template">
    <h2 class="title">登入</h2>
    <form action="instr.php" method="post" class="general">
        <input type="hidden" name="instr" value="login" />
        <label>帳號</label><input type="text" name="user" /><br />
        <label>密碼</label><input type="password" name="pass" /><br />
        <button>登入</button> <a href="#register">註冊</a>
    </form>
</script>

<script id="registerPageTem" type="text/template">
    <h2 class="title">註冊</h2>
    <form action="instr.php" method="post" class="general">
        <input type="hidden" name="instr" value="register" />
        <label>帳號</label><input type="text" name="user" /><br />
        <label>密碼</label><input type="password" name="pass" /><br />
        <label>手機</label><input type="text" name="phone" /><br />
        <button>註冊</button> <a href="#login">登入</a>
    </form>
</script>

<script id="memHome" type="text/template">
    <h2>線上購物</h2>
    最豐富多樣的商品，一定能滿足您的需求
    <hr />
    <div class="infoBox">
        <h3>會員生日禮</h3>
        <img src="imgs/liBirth.png" />
        <p>當月壽星即可免費領取專屬生日禮，還可抽大獎！附贈歡 樂點商城300元折價券，讓您歡樂挑選屬於自己的禮物!</p>
    </div>
    <div class="infoBox">
        <h3>遊戲商城</h3>
        <img src="imgs/liBuy.png" />
        <p>提供淺色電腦會員可以一次滿足享受消費加值服務的方便性，提供線上遊玩、購買單機遊戲與相應資訊的取得。</p>
    </div>
    <div class="infoBox">
        <h3>線上門市</h3>
        <img src="imgs/liCity.png" />
        <p>門市是淺色電腦專屬網路購物平台－提供各項產品優惠，24小時通路服務不打烊！行動購機店頭面交好安心！</p>
    </div>
    <div class="infoBox">
        <h3>尊榮VIP</h3>
        <img src="imgs/licomvip2.png" />
        <p>VIP是淺色電腦為會員推出的尊榮優惠活動，若您符合淺色電腦『行動VIP』客戶資格，即可享有行動VIP專屬優惠！</p>
    </div>
</script>

<script id="memOrders" type="text/template">
    <table class="orderTable">
        <thead>
            <tr>
                <td>訂單編號</td>
                <td>收貨姓名</td>
                <td>付款金額</td>
                <td>狀態</td>
                <td>下定日期</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <% var counter = 0; %>
            <% _.each(data, function(item) { %>
            <tr>
                <td><%=item['o_no']%></td>
                <td><%=item['buyName']%></td>
                <td>NT$ <%=item['o_total']%></td>
                <td><%=item['active']%></td>
                <td><%=item['o_crTime']%></td>
                <td><a href="#detail/<%=item['o_no']%>">查看</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>

<script id="odrDetail" type="text/template">
    <h2>訂單細項</h2>
    <table class="detailShow">
        <tbody>
            <tr>
                <td>訂單編號</td>
                <td><%=order['o_no']%></td>
            </tr>
            <tr>
                <td>收貨姓名</td>
                <td><%=order['buyName']%></td>
            </tr>
            <tr>
                <td>電話</td>
                <td><%=order['buyTel']%></td>
            </tr>
            <tr>
                <td>付款方式</td>
                <td><%=order['payMode']%></td>
            </tr>
            <tr>
                <td>下定時間</td>
                <td><%=order['o_crTime']%></td>
            </tr>
            <tr>
                <td>其他訊息</td>
                <td>
                    <% if(order['atm_act5'] != "") { %>
                    ATM後五碼: <%=order['atm_act5']%>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td>運費</td>
                <td>NT$ <%=order['o_shipment']%></td>
            </tr>
            <tr>
                <td>總計</td>
                <td>NT$ <%=order['o_total']%></td>
            </tr>
        </tbody>
    </table>
    <table class="detailProds">
        <thead>
            <tr>
                <td>商品名稱</td>
                <td>單價</td>
                <td>數量</td>
                <td>小計</td>
            </tr>
        </thead>
        <tbody>
            <% _.each(details, function(item) { %>
            <tr>
                <td><%=item['p_name']%></td>
                <td>NT$ <%=item['od_price']%></td>
                <td><%=item['od_qty']%></td>
                <td>NT$ <%=item['od_subtotal']%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</script>
