<script id="orderShowTem" type="text/template">
    <table>
        <thead>
            <tr>
                <td>商品名稱</td>
                <td>商品單價</td>
                <td>商品數量</td>
                <td>商品小計</td>
            </tr>
        </thead>
        <tbody>
            <% _.each(details, function(item) { %>
            <tr>
                <td><%=item['p_name']%></td>
                <td><%=item['od_price']%></td>
                <td><%=item['od_qty']%></td>
                <td><%=item['od_subtotal']%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <div class="sum">
        <span>總計</span>
        <label>NT$ <%=order['o_total']%></label>
    </div>
</script>
