
<script id="prodCart" type="text/template">
    <table>
	<thead>
	    <tr>
		<td>商品分類</td>
		<td>商品名稱</td>
		<td>商品數量</td>
		<td>商品小計</td>
	    </tr>
	</thead>
	<tbody>
	    <% 
	    var total = 0;
	    _.each(cart, function(item) { 
		total += item['subTotal'];
		%>
		<tr>
		    <td><%=item['p_cls']%></td>
		    <td><%=item['p_name']%></td>
		    <td><%=item['amount']%></td>
		    <td>NT$ <%=item['subTotal']%></td>
		</tr>
		<% }); %>
	</tbody>
    </table>
    <span class="total">
	<label>運費：NT$ 120</label>
	<label>總計：NT$ <%=total%></label>
    </span>
</script>

<script id="payMethodTem" type="text/template">
    <h2>選擇付款方式</h2>
    <p>
    <label>付款方式:</label>
    <% var pos = 0; %>
    <% _.each(data, function(item) { %>
    <input type="radio" name="payMode" pos="<%=pos%>" value="<%=item['pm_name']%>" /><%=item['pm_name']%>
    <% ++pos; %>
    <% }); %>
    </p>
    <p id="atm_5" style="display: none;">
        <label>後五碼</label>
        <input type="text" name="atm_act5" />
    </p>
    <p>
    <label>運費:</label>
    <label id="shippment"></label>
    <!--<input type="hidden" name="shipMode" value="shipModeA" /> -->
    </p>
    <p>
    <label>發票開立:</label>
    <input type="radio" name="invoice_type" value="personal" />個人
    <input type="radio" name="invoice_type" value="company" />公司
    </p>
    <p>
    <label>備註:</label>
    <textarea name="memo"></textarea>
    </p>
</script>
