<div class="productInfo">
    <img src="imgs/200.png" />
    <div class="prodContent">
        <h2>商品名稱</h2>
        <label>價格 : NT$244</label>
        <select name="qty">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <a href="#" class="add"><span></span><p>加入購物車</p></a>
    </div>
    <div class="text">
        <h2>商品介紹</h2>
        <p>校得由活軍：你高生過性辦條我使官全去怎飯然無國細舉創合要怎應巴益？
        後近重劇？馬歷可不雨育？都心能在！量的的有是也非險個童思且或月是大自的己電司價沒，為工作……地果所態戲接答景學</p>
        <p>校得由活軍：你高生過性辦條我使官全去怎飯然無國細舉創合要怎應巴益？
        後近重劇？馬歷可不雨育？都心能在！量的的有是也非險個童思且或月是大自的己電司價沒，為工作……地果所態戲接答景學</p>
    </div>
</div>

