<div class="formPanel1">
    <table>
        <thead>
            <tr>
                <td>帳號</td>
                <td>名稱</td>
                <td>建立日期</td>
                <td>操作</td>
            </tr>
        </thead>
    </table>
</div>
<script type="text/template">
    <h1>會員清單</h1>
    <div class="formPanel1">
	<table>
	    <thead>
		<tr>
		    <td>帳號</td>
		    <td>名稱</td>
		    <td>狀態</td>
		    <td>建立日期</td>
		    <td>操作</td>
		</tr>
	    </thead>
	    <tbody>
            <% var counter = 0; %>
            <% _.each(data, function(item) { %>
                <tr>
                    <td><%=item['m_account']%></td>
                    <td><%=item['m_name']%></td>
                    <td><%=item['m_crTime']%></td>
                    <td>
                        <a href="#memEdit/<%=item['m_id']%>" class="glyphicon glyphicon-pencil" pos="<%=counter%>" oper="modify"></a>
                        <a href="#memDel/<%=item['m_id']%>" class="glyphicon glyphicon-remove" pos="<%=counter%>" oper="del"></a>
                    </td>
                </tr>
            <% ++counter; }); %>
	    </tbody>
	</table>
	<span class="pager">
	    <% for(i = 1;i <= pageSum;++i) { %>
		<% if(i == nowPage) %>
		<label><%=i%></label>
		<% else %>
		<a href=#memList/<%=i-1%>><%=i%></a>
		<% } %>
	</span>
    </div>
</script>

