<html>
    <head>
	<title>淺色電腦</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/header2.css" />
	<link rel="stylesheet" type="text/css" href="css/left.css" />
	<link rel="stylesheet" type="text/css" href="css/cartCheck2.css" />
	<link rel="stylesheet" type="text/css" href="css/pager.css" />
	<link rel="stylesheet" type="text/css" href="css/footer.css" />
    </head>
    <body>
        <div id="header">
            <img src="imgs/cooltext143725226109873.png" />
            <div id="nav">
                <a href="index.html"> 首頁 </a>
                <a href="about.html"> 關於我們 </a>
                <a href="productList.html"> 我要購物 </a>
                <a href="service.html"> 我們的服務 </a>
                <a href="contact.html"> 聯絡我們 </a>
            </div>
        </div>
        <div id="content">
            <div id="cartContent">
                <h1>購物清單</h1>
                <table>
                    <thead>
                        <tr>
                            <td>商品分類</td>
                            <td>商品名稱</td>
                            <td>商品數量</td>
                            <td>小計</td>
                            <td>刪除</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>主機板</td>
                            <td>Master Asus GX557</td>
                            <td>1</td>
                            <td>NT$ 920</td>
                            <td>
                                <a href="#">
                                    <img src="imgs/1399522498_Erase.png" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>處理器</td>
                            <td>Intel Core i5</td>
                            <td>1</td>
                            <td>NT$ 2388</td>
                            <td>
                                <a href="#">
                                    <img src="imgs/1399522498_Erase.png" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>記憶體</td>
                            <td>transact memory 2G</td>
                            <td>2</td>
                            <td>NT$ 4200</td>
                            <td>
                                <a href="#">
                                    <img src="imgs/1399522498_Erase.png" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="sum">
                    <span>總計</span>
                    <label>NT$ 7508</label>
                </div>
                <div class="operating">
                    <a href="#">下一步</a>
                </div>
            </div>
            <div class="info">
                <h1>購物須知</h1>
                <h2>七日鑑賞</h2>
                <p>
                ※ 為保障消費者權益，會員可享收到商品隔日起計算七日內(含例假日)之猶豫期，期間單筆訂單可免運費辦理退貨一次。
                若同訂單申請第二次以上退貨，運費須由買家自行負擔。
                </p>
                <p>
                ※七日鑑賞期計算: 包裹取件/簽收隔日起算第一天（不論是否為買家本人(管理員、家人親友簽收/取件視同)）。
                </p>
                <h2>貼心提醒</h2>
                <p>
                ◎依統一發票使用辦法規定，發票兌獎必須使用發票正本。
                </p>
                <p>
                ◎一張發票僅有一張正本，訂單查詢內所提供的列印僅供參考之用，不具兌獎功能。
                </p>
                <p>
                ◎其他有關領獎事項依「統一發票給獎辦法」規定辦理。
                </p>
                <p>
                ◎有任何兌獎疑義，可至財政部電子發票整合服務平台常見問答服務項目查詢，或撥打電子發票24小時免付費專線0000-000-000。
                </p>
            </div>
        </div>
        <div id="footer">
            <div class="logo">
                <label>Light</label> 
                <label>Com</label>
            </div>
            <div class="intro">
                <p>淺色電腦有限公司</p>
                <p>嚴選開發</p>
                <p>程式的品質保證</p>
            </div>
            <div class="service">
                <p>客服專線：02-00000000</p>
                <p>客服時間：8:00 ~ 17:00</p>
                <p>客服信箱：test@test.com.tw</p>
                <p>地址：台北市中正區測試地區</p>
            </div>
        </div>

	<script id="prodCart" type="text/template">
            <h1>購物清單</h1>
            <table id="cartShow">
                <thead>
                    <tr>
                        <td>商品分類</td>
                        <td>商品名稱</td>
                        <td>商品數量</td>
                        <td>商品小計</td>
                        <td>刪除</td>
                    </tr>
                </thead>
                <tbody>
                    <% var sum = 0,counter = 0; %>
                    <% _.each(cart, function(item) { %>
                        <tr>
                            <td><%=item['p_cls']%></td>
                            <td><%=item['p_name']%></td>
                            <td><%=item['amount']%></td>
                            <td>NT$ <%=item['subTotal']%></td>
                            <td>
                                <a href="#" name="delProd" pos="<%=counter%>">
                                    <img src="imgs/1399522498_Erase.png" />
                                </a>
                            </td>
                        </tr>
                    <% ++counter; %>
                    <% sum += item['subTotal']; %>
                    <% }); %>
                </tbody>
            </table>
            <div class="sum">
                <span>總計</span>
                <label>NT$ <%=sum%></label>
            </div>
            <div class="operating">
                <a href="#" id="next">下一步</a>
            </div>
	</script>
    </body>
    <script src="lib/jquery-1.8.2.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="cart/Cart.js"></script>
    <script>
	$(document).ready(function() {
            var cartv = new Cart({'el' : "#cartContent", 'model' : new CartStore()});
            if(cartv.isClear()) {
                alert("購物車沒東西");
                location.href = "index.html";
            }
            $("#next").on("click", function() {
                location.href = "orderCheck.html";
            });
	});
    </script>
</html>

