<h1>商品分類</h1>
<div class="formPanel1">
    <table id="clsShow">
    </table>
</div>
<script id="clsListTem" type="text/template">
    <thead>
	<tr>
	    <td>項目</td>
	    <td>分類名稱</td>
	    <td>操作</td>
	</tr>
    </thead>
    <tbody>
	<% var counter = 0; %>
	<% _.each(data, function(item) { %>
	<tr>
	    <td><%=item['c_id']%></td>
	    <td><%=item['c_name']%></td>
	    <td>
		<a href='#' oper='mod' pos='<%=counter%>' class='glyphicon glyphicon-pencil'></a>
		<a href='#' oper='del' pos='<%=counter%>' class='glyphicon glyphicon-remove'></a>
	    </td>
	</tr>
	<% ++counter;%>
	<% }); %>
    </tbody>
</script>
