<table>
    <thead>
	<tr>
	    <td>分類</td>
	    <td>商品名稱</td>
	    <td>價格</td>
	    <td>狀態</td>
	    <td>操作</td>
	</tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/template">
    <% _.each(data, function(item) { %>
    <tr>
	<td>主機板</td>
	<td><%=item['p_name']%></td>
	<td><%=item['p_price']%></td>
	<td>
	    <select>
		<option <%=(item['active'] == 'Y'?"selected":"")%>>上架</option>
		<option <%=(item['active'] == 'N'?"selected":"")%>>下架</option>
	    </select>
	</td>
	<td>
	    <a href="#"><img src="imgs/1403417937_Modify.png" /></a>
	    <a href="#"><img src="imgs/1399522498_Erase.png" /></a>
	</td>
    </tr>
    <% }); %>
</script>
