<table>
    <thead>
	<tr>
	    <td>訂單編號</td>
	    <td>收貨姓名</td>
	    <td>電話</td>
	    <td>付款金額</td>
	    <td>下定日期</td>
	    <td>狀態</td>
	    <td>操作</td>
	</tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/template">
<table>
    <thead>
	<tr>
	    <td>訂單編號</td>
	    <td>收貨姓名</td>
	    <td>電話</td>
	    <td>付款金額</td>
	    <td>下定日期</td>
	    <td>狀態</td>
	    <td>操作</td>
	</tr>
    </thead>
    <tbody>
	<% var counter = 0; %>
	<% _.each(orders, function(item) { %>
	<tr>
	    <td><%=item['o_no']%></td>
	    <td><%=item['buyName']%></td>
	    <td><%=item['buyTel']%></td>
	    <td><%=item['o_total']%></td>
	    <td><%=item['o_crTime']%></td>
	    <td>
		<select pos="<%=counter%>" name="active">
		    <option value="未付款" <% if(item['active'] == "未付款") { %> selected <% } %>_>未付款</option>
		    <option value="已付款" <% if(item['active'] == "已付款") { %> selected <% } %>_>已付款</option>
		</select>
	    </td>
	    <td>
		<a pos="<%=counter%>" href="#orderDetail">查看</a>
	    </td>
	</tr>
	<% ++counter; }); %>
    </tbody>
</table>
<span class="pager">
<% for(i = 1;i <= pageSum;++i) { %>
    <% if(i == nowPage+1) %>
    <%=i%>
    <% else %>
    <a href=#><%=i%></a>
<% } %>
</span>
</script>
