body {
    background : #B7B5AC;
}

a {
    text-decoration : none;
}

#header {
    position : relative;
    top : -10px;
    left : -10px;
    padding : 10px;
    width : 100%;

    background : #ffefcc;
}

#header > a {
    display : inline-block;
    padding : 3px;
    width : 5%;

    color : #6B6561;
    text-align : center;
    background : #C6B9B4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border : 1px solid #BAA38D;
}

#header > a:hover {
    color : black;
    background : #F2EDEA;
}

#left {
    display : inline-block;
    position : relative;
    top : -10px;
    width : 15%;

    vertical-align : top;
    background : white;
}

#left h3 {
    padding : 10px;
    margin : 0px;

    color : white;
    background : #4d2600;
}

#left ul {
    padding : 0px;
}

#left li {
    list-style-type : none;
}

#left a {
    display : block;
    padding : 10px;

    color : #917e7e;
}

#left a:hover {
    color : #666633;
    background : #fff2e5;
}

#left a.clicked {
    color : #666633;
    background : #fff2e5;
}

#right {
    display : inline-block;
    position : relative;
    top : -10px;
    width : 85%;

    vertical-align : top;
}

