.pager {
    margin-top : 20px;
    display : block;
    text-align : center;
}

.pager label {
    display : inline-block;
    padding : 5px;
    
    color : white;
    background : #096484;
    border : 1px solid #4796b3; 
}

.pager a {
    display : inline-block;
    padding : 5px;

    color : #4796b3;
    background : white;
    border : 1px solid #4796b3; 
    text-decoration : none;
}

