#right .prodEdit {
    padding : 15px;
    margin-left : 10px;

    background : #fff;
}

#right .prodEdit label {
    display : inline-block;
    padding : 5px;
    margin-top : 5px;
    width : 25%;

    vertical-align : top;
}

#right .prodEdit input[type=text], #right .prodEdit input[type=password], #right .prodEdit textarea {
    display : inline-block;
    padding : 6.5px;
    margin-top : 5px;
    width : 45%;

    vertical-align : top;
}

#right .prodEdit select {
    width : 268px;
    padding : 5.5px;

    background : transparent;
    border : 1px solid transparent;
}

#right .prodEdit .prodSelect {
    display : inline-block;
    margin-top : 5px;
    width : 240px;

    overflow : hidden;
    background : url(../imgs/1451639148_double-arrow-down.png) no-repeat right #fff2e5;
    border : 1px solid #994c00;
}

#right .prodEdit .uploadShow {
    margin-top : 5px;
    display : inline-block;
    width : 240px;

    overflow : hidden;
    border : 1px solid #994c00;
}

#right .prodEdit .uploadShow input {
    position : relative;
    padding : 4px;
    left : -90px;
    cursor : pointer;
}

#right .prodEdit button {
    margin-top : 5px;
    padding : 5px;
    width : 10%;

    border : 1px solid transparent;
    background : #52accc;
    color : #fff;
}

#right .prodEdit button:hover {
    background : #4796b3;
}
